<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Go HTML Template</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/flot.min.js"></script>
    <script type="text/javascript" src="/static/jquery-flot-dashes.js"></script>
  </head>
  <body>
    <h1>Hello World!</h1>
    <div class="demo-container">
      <div id="placeholder" class="demo-placeholder"></div>
    </div>
    <script type="text/javascript" src="/static/chart-safe.js"></script>
  </body>
</html>
